@{
	ViewBag.Title = "Home Page";
}

<div class="container">

	<h2>Tables Loaded Async</h2>

	<div class="table-container">
		<div id="tableRoot">
		</div>
	</div>

</div>

<script>
	initTables();
</script>