
<table id="example" class="active-table mobile" style="width:100%">
	<tbody>
		<tr data-item="1">
			<th>Name</th>
			<td>Tiger Nixon</td>
		</tr>
		<tr data-item="1">
			<th>Position</th>
			<td>System Architect</td>
		</tr>
		<tr data-item="1">
			<th>Office</th>
			<td>Edinburgh</td>
		</tr>
		<tr data-item="1">
			<th>Age</th>
			<td>61</td>
		</tr>
		<tr data-item="1">
			<th>Start date</th>
			<td>2011/04/25</td>
		</tr>
		<tr data-item="1">
			<th>Salary</th>
			<td>$320,800</td>
		</tr>

		<tr data-item="2">
			<th>Name</th>
			<td>Garrett Winters</td>
		</tr>
		<tr data-item="2">
			<th>Position</th>
			<td>Accountant</td>
		</tr>
		<tr data-item="2">
			<th>Office</th>
			<td>Tokyo</td>
		</tr>
		<tr data-item="2">
			<th>Age</th>
			<td>63</td>
		</tr>
		<tr data-item="2">
			<th>Start date</th>
			<td>2011/07/25</td>
		</tr>
		<tr data-item="2">
			<th>Salary</th>
			<td>$170,750</td>
		</tr>

		<tr data-item="3">
			<th>Name</th>
			<td>Ashton Cox</td>
		</tr>
		<tr data-item="3">
			<th>Position</th>
			<td>Junior Technical Author</td>
		</tr>
		<tr data-item="3">
			<th>Office</th>
			<td>San Francisco</td>
		</tr>
		<tr data-item="3">
			<th>Age</th>
			<td>66</td>
		</tr>
		<tr data-item="3">
			<th>Start date</th>
			<td>2009/01/12</td>
		</tr>
		<tr data-item="3">
			<th>Salary</th>
			<td>$86,000</td>
		</tr>

		<tr data-item="4">
			<th>Name</th>
			<td>Cedric Kelly</td>
		</tr>
		<tr data-item="4">
			<th>Position</th>
			<td>Senior Javascript Developer</td>
		</tr>
		<tr data-item="4">
			<th>Office</th>
			<td>Edinburgh</td>
		</tr>
		<tr data-item="4">
			<th>Age</th>
			<td>22</td>
		</tr>
		<tr data-item="4">
			<th>Start date</th>
			<td>2012/03/29</td>
		</tr>
		<tr data-item="4">
			<th>Salary</th>
			<td>$433,060</td>
		</tr>

		<tr data-item="5">
			<th>Name</th>
			<td>Airi Satou</td>
		</tr>
		<tr data-item="5">
			<th>Position</th>
			<td>Accountant</td>
		</tr>
		<tr data-item="5">
			<th>Office</th>
			<td>Tokyo</td>
		</tr>
		<tr data-item="5">
			<th>Age</th>
			<td>33</td>
		</tr>
		<tr data-item="5">
			<th>Start date</th>
			<td>2008/11/28</td>
		</tr>
		<tr data-item="5">
			<th>Salary</th>
			<td>$162,700</td>
		</tr>

		<tr data-item="6">
			<th>Name</th>
			<td>Brielle Williamson</td>
		</tr>
		<tr data-item="6">
			<th>Position</th>
			<td>Integration Specialist</td>
		</tr>
		<tr data-item="6">
			<th>Office</th>
			<td>New York</td>
		</tr>
		<tr data-item="6">
			<th>Age</th>
			<td>61</td>
		</tr>
		<tr data-item="6">
			<th>Start date</th>
			<td>2012/12/02</td>
		</tr>
		<tr data-item="6">
			<th>Salary</th>
			<td>$372,000</td>
		</tr>

		<tr data-item="7">
			<th>Name</th>
			<td>Herrod Chandler</td>
		</tr>
		<tr data-item="7">
			<th>Position</th>
			<td>Sales Assistant</td>
		</tr>
		<tr data-item="7">
			<th>Office</th>
			<td>San Francisco</td>
		</tr>
		<tr data-item="7">
			<th>Age</th>
			<td>59</td>
		</tr>
		<tr data-item="7">
			<th>Start date</th>
			<td>2012/08/06</td>
		</tr>
		<tr data-item="7">
			<th>Salary</th>
			<td>$137,500</td>
		</tr>

		<tr data-item="8">
			<th>Name</th>
			<td>Rhona Davidson</td>
		</tr>
		<tr data-item="8">
			<th>Position</th>
			<td>Integration Specialist</td>
		</tr>
		<tr data-item="8">
			<th>Office</th>
			<td>Tokyo</td>
		</tr>
		<tr data-item="8">
			<th>Age</th>
			<td>55</td>
		</tr>
		<tr data-item="8">
			<th>Start date</th>
			<td>2010/10/14</td>
		</tr>
		<tr data-item="8">
			<th>Salary</th>
			<td>$327,900</td>
		</tr>

	</tbody>
</table>